/* remove scroll bars from syntax highligher widgets */
.syntaxhighlighter { overflow-y: hidden !important; }

.image-container div ul li:first-child {
    list-style:none
}

.image-container-left {
    width: 50%;
    display: inline;
    float:left;
}

.image-container-right {
    width: 50%;
    display: inline;
    float:left;
}

.image-container {
width: 100%;
}

.title-image {
    text-align: center;
    border-bottom-style: none;
    padding-top: 0px;
    position: absolute;
    top: 10%;
    left:  0;
    right: 0;
}

.deck-container .slide .subtitle {
    text-align: center;
    border-bottom-style: none;
    padding-top: 0px;
}

.deck-container .slide .subtitle, .csstransforms .slide .vcenter {
    position: absolute;
    left: 0;
    right: 0;
    top: 58%;
}